<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://unpkg.com/@vbarbarosh/smcss@0.8.4/dist/reset.css" rel="stylesheet">
    <link href="https://unpkg.com/@vbarbarosh/smcss@0.8.4/dist/sm.css" rel="stylesheet">
    <title>Title of the Page</title>
    <style>
        .bg-viewport { background: burlywood; }
        .bg-scene { background: cornflowerblue; }
        .bg-negative { background: brown; }
        .max-w600 { max-width: 600px; }
    </style>
</head>
<body>

<p class="max-w600">Container capable of displaying transformed element without chopping it.
Where transformed bounding rect is larger than container, container displays
scrollbars. <b>Also, this container allows moving items to negative
direction.</b></p>

<div id="app"></div>

<script src="https://unpkg.com/jquery@3.6.3/dist/jquery.js"></script>
<script src="https://unpkg.com/bluebird@3.7.2/js/browser/bluebird.js"></script>
<script src="https://unpkg.com/vue@2.7.14/dist/vue.js"></script>
<script src="https://unpkg.com/@vbarbarosh/dd@1.3.0/dist/dd.js"></script>
<script src="convertPointFromPageToNode.js"></script>
<script src="helpers.js"></script>
<script src="autoscroll.js"></script>
<script>
new Vue({
    el: '#app',
    template: `
<div class="flex-row flex-wrap mi10 mg10">

    <div ref="viewport" class="flex-row border os resize bg-viewport" style="width:500px;height:500px;">
        <div class="ma">
            <div v-bind:style="{width: px(bcr.width), height: px(bcr.height)}"
                 class="flex-row-center m50 rel silver">
                <div ref="scene" v-bind:style="{width: px(positive_width+negative_width), height: px(positive_height+negative_height), transform: 'scale('+scale+') rotate('+rotate+'deg)'}"
                     class="rel dashed ov bg-scene flex-noshrink">
                    <div v-bind:style="{transform: 'translate('+px(negative_width)+','+px(negative_height)+')'}">
                        <div ref="item1" v-on:mousedown="mousedown_item" v-bind:style="style_item" class="red w100 h200" />
                        <div class="w10 h10 br999 red m5n" />
                    </div>
                </div>
            </div>
<pre class="abs-c xm p10" style="background:#000;color:#bbb;">
positive_width={{ positive_width }}
negative_width={{ negative_width }}
item.x={{ item.x }}
item.y={{ item.y }}
rotate={{ rotate }}
</pre>
        </div>
    </div>

    <div class="abs-br flex-col">
        <input v-model="rotate" type="range" min="-360" max="360" step="1">
        <input v-model="scale" type="range" min="0.01" max="4" step="0.01">
    </div>

    <div v-if="bcr"
         v-bind:style="{top: px(bcr.top), left: px(bcr.left), width: px(bcr.width), height: px(bcr.height)}"
         class="fix z1 dashed green no-pointer-events o50" />

</div>
    `,
    data: {
        bcr: {},
        visible_width: 0,
        visible_height: 0,
        positive_width: 500,
        positive_height: 500,
        negative_width: 0,
        negative_height: 0,
        rotate: 0,
        scale: 1,
        item: {
            x: 0,
            y: 0,
            w: 100,
            h: 200,
        },
    },
    computed: {
        style_item: function () {
            return {
                transform: `translate(${this.item.x}px,${this.item.y}px)`,
            };
        },
    },
    methods: {
        refresh: function () {
            const r = this.$refs.scene.getBoundingClientRect();
            this.visible_width = r.width;
            this.visible_height = r.height;
        },
        px,
        mousemove: function (event) {
            this.coords.mouse_x = event.clientX;
            this.coords.mouse_y = event.clientY;
            const {x, y} = convertPointFromPageToNode(this.$refs.item1, event.clientX, event.clientY);
            this.coords.item1_x = x;
            this.coords.item1_y = y;
        },
        wheel: function (event) {
            event.preventDefault();
            const {clientX, clientY} = event;
            const tmp1 = convertPointFromPageToNode(this.$refs.item1, clientX, clientY);
            if (event.shiftKey) {
                this.rotate += event.deltaY < 0 ? 5 : -5;
            }
            else {
                this.scale += event.deltaY < 0 ? 0.1 : -0.1;
            }
            this.$nextTick(function () {
                const tmp2 = convertPointFromNodeToPage(this.$refs.item1, tmp1.x, tmp1.y);
                this.translate_x -= (tmp2.x - clientX);
                this.translate_y -= (tmp2.y - clientY);
            });
        },
        mousedown_item: function (event) {
            const _this = this;
            const {x: x0, y: y0} = this.item;
            event.preventDefault();
            const matrix = getTransformationMatrix(this.$refs.scene).inverse();
            const r0 = JSON.parse(JSON.stringify(this.$refs.scene.getBoundingClientRect()));
            dd({
                mixins: [{
                    //end: autoscroll(this.$refs.viewport).end
                }],
                event,
                translate: function (ctx) {
                    const tmp = new Point(ctx.client_x, ctx.client_y, 0).transformBy(matrix);
                    ctx.x = tmp.x;
                    ctx.y = tmp.y;
                },
                move: function (ctx) {
                    _this.item.x = x0 + ctx.dx;
                    _this.item.y = y0 + ctx.dy;
                    _this.$nextTick(function () {
                        const r1 = _this.$refs.scene.getBoundingClientRect();
                        const r2 = _this.$refs.item1.getBoundingClientRect();
                        _this.negative_width = Math.max(_this.negative_width, -_this.item.x);
                        _this.negative_height = Math.max(_this.negative_height, -_this.item.y);
                        _this.positive_width = Math.max(_this.positive_width, _this.item.x + _this.item.w);
                        _this.positive_height = Math.max(_this.positive_height, _this.item.y + _this.item.h);
                        _this.$nextTick(function () {
                            const r1 = _this.$refs.scene.getBoundingClientRect();
                            _this.$refs.viewport.scrollLeft += Math.trunc(r1.left - r0.left);
                        });
                    });
                },
            });
        },
        tick: function () {
            this.bcr = this.$refs.scene.getBoundingClientRect();
        },
    },
    created: function () {
        setInterval(this.tick, 100);
    },
    mounted: function () {
        this.refresh();
    }
});
</script>

</body>
</html>
